################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/obj/Debug/net6.0/API_TeamGE.assets.cache
/obj/Debug/net6.0/API_TeamGE.GeneratedMSBuildEditorConfig.editorconfig
/.vs/API_TeamGE/v17/.suo
